.App {
  min-height: 100vh;
  text-align: center;
  font-family: system-ui;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.search-form {
  min-height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 25%;
  border: none;
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(190, 190, 190);
}

.search-button {
  background: rgb(18, 59, 146);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
}

.search-button:hover {
  border: 2px solid rgb(45, 105, 133);
  cursor: pointer;
}

.mounts {
  text-align: center;
}
